<div class="app">
  <header>
    <a routerLink="/todos">go to todo list</a>
  </header>
  <!---
  <form [formGroup]="inscription">
  <input type="text" formControlName="username">
  <div *ngIf="username && username.invalid">
    <div *ngIf="username.errors?.['required']">ce champ est obligatoire</div>
    <div *ngIf="username.errors?.['minlength']">min length 10</div>
  </div>
  </form>
-->
<form [formGroup]="inscription">
  <label for="">username</label>
  <br>
  <input type="text" formControlName="username" [ngClass]="{'is-invalid':f['username'].errors}" />
  <div *ngIf="f['username'].errors">
    <div *ngIf="f['username'].errors['required']">ce champ est required </div>
  </div>
  <br>
  <br>
    <label for="">password</label>
    <br>
  <input type="text" formControlName="password" [ngClass]="{'is-invalid':f['password'].errors}">
    <div *ngIf="f['password'].errors">
    <div *ngIf="f['password'].errors['required']">ce champ est required </div>
      <div *ngIf="f['password'].errors['minlength']">min 8 </div>
  </div>
  <br><br>
  <label for="">email</label>
  <br>
   <input type="text" formControlName="email" [ngClass]="{'is-invalid':f['email'].errors}">
    <div *ngIf="f['email'].errors">
    <div *ngIf="f['email'].errors['required']">ce champ est required </div>
      <div *ngIf="f['email'].errors['pattern']">email format</div>
  </div>
  <br>
  <br>
  <button type="submit" [disabled]="!inscription.valid">Submit</button>
</form>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <router-outlet></router-outlet>
</div>
